@charset "utf-8";
/* CSS Document */
#topBg{
	background-color:#f5f5f5;
}
a{
	color: #1F1F1F;
	font-size: 12px;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.up-font-tit{
	color: #214FB6;
}
.infobox .bar{
	background-color:#EEE;
}
.infobox .stit{
	font-weight: bold;
	color: #393939;
}
.infobox .even{
	background-color:#EAEAEA;
}
.rebg{
	background-color:#EAEAEA;
}
.up-font{
	color:#00F;
}
.up-font-over{
	color:#F00;
}
.no-report{
	line-height: 22px;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
	color: #062560;
}
.view-bg{
	background-color:#fff;
}
.view-line{
	border: 1px solid #214FB6;
}