@charset "utf-8";
/* CSS Document */
body{
	margin: 0px;
	padding: 0px;
	birder: 0;
	font-family: Verdana, Geneva, sans-serif;
	_background:none;
}
select,
input[type="text"],
textarea,
input[type="password"]{
	border: 1px solid #95b8e7;
}
select,input,img,label,span{
	vertical-align: middle;
}
img,form{
	border:0;
}
p{
	line-height: 22px;
	margin: 0px;
	padding: 0px;
}
table {
	font-size: 12px;
}
.top{
	height: 35px;
	overflow: hidden;
	width: 100%;
}
.top .logo{
	height: 32px;
	width: 191px;
	margin-left: 5px;
	margin-top: 1px;
	float: left;
	overflow: hidden;
}
.top .show{
	float: right;
	height: 29px;
	margin-right: 2%;
	padding-top: 4px;
	text-align: right;
	line-height: 20px;
	overflow: hidden;
}
.top .show a{
}
.top .show a:hover{
	text-decoration: underline;
}
.top .show .l1{
	margin-right: 28px;
}
.top .show .l2{
}

.con{
	overflow: hidden;
	margin-top: 4px;
	margin-right: 5px;
	margin-bottom: 4px;
	margin-left: 5px;
	min-width:1000px;
}
.con-tb{	
}


.no-report{
	line-height: 22px;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
	color: #039;
}
.title-icon{
	margin-right: 2px;
	vertical-align: middle;
	height: 16px;
	width: 16px;
}
.list-box{
	height: 100px;
	width: 100px;
	position: relative;
}

.list-box .list-act{
	height: 19px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 99;
	background-color: #5E6468;
	text-align: right;
	padding-top: 2px;
	padding-right: 2px;
	width: 100%;
}

.in input{
	border:1px solid #F66;
	vertical-align: middle;
}
.in p {
	float:left;
}
.in {
	position:relative;
	height: 32px;
	margin-top: 8px;
}
.in .file {
	position:absolute;
	right:300px;
	top:3px;
	left:1px;
	height:22px;
	z-index: 99;
	width: 238px;
	line-height: 20px;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	opacity:0;
	padding-left: 2px;
}
.in #txt {
	height:18px;
	margin:1px;
	line-height: 18px;
	width: 168px;
	margin-top: 3px;
}
.in #ii {
	width:65px;
	height:22px;
	_margin-top:2px;
	background-color: #FDF1D9;
	margin-left: -2px;
	margin-top: 2px;
}
.tb-line{
	clear: both;
	height: 5px;
	width: 100%;
}
.list-time{
	color: #000075;
	font-size: 12px;
}
.one-line{
	display: inline-block;
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.skin-box{
	height: 174px;
	width: 296px;
	position: absolute;
	top: 0px;
	right: 0px;
	background-image: url(../../img/admin/skin_bg.png);
	z-index: 999;
	display:none;
	padding-top: 10px;
	padding-bottom: 10px;
}
.skin-box .skin-list{
	background-color: #FFF;
	height: 60px;
	width: 60px;
	float: left;
	margin-top: 15px;
	margin-left: 23px;
	margin-top: 15px;
	margin-left: 20px;
	border: 1px solid #FFCF88;
	padding: 3px;
	cursor:pointer;
}
.skin-box .skin-list:hover{
	border: 1px solid #FA4F05;
}
.skin-box #defaultBg{
	background-color:#DDEAFF;
	height: 100%;
	width: 100%;
}
.skin-box #blackBg{
	background-color:#3D3D3D;
	height: 100%;
	width: 100%;
}
.skin-box #mgrayBg{
	background-color:#C7CCD1;
	height: 100%;
	width: 100%;
}
.skin-box #grinderBg{
	background-color:#E0DECB;
	height: 100%;
	width: 100%;
}
.skin-box #mredBg{
	background-color:#EBD8DA;
	height: 100%;
	width: 100%;
}
.skin-box #cupertinoBg{
	background-color:#C4E2F7;
	height: 100%;
	width: 100%;
}
.report-text{
	font-size: 12px;
}
.report-height {
	border: 1px solid #95b8e7;
	display: block;
	overflow: hidden;
	width: 99%;
	height: 16px;
	line-height: 16px;
	padding:2px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
textarea {
	outline: 0 none;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
option.disabled {
	color: #B6B6B6;
}
.to-but{
	margin: 0px;
	width: 25px;
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 3px;
	height: 25px;
	line-height: 25px;
	line-height: 16px!important;
	height: 25px\9;
	line-height: 25px\9;
}

.se-but{
	margin: 0px;
	width: 38px;
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 3px;
	height: 22px;
	line-height: 20px;
	line-height: 14px!important;
	height: 20px\9;
	line-height: 20px\9;
}

.mail-height425{
	height: 426px;
	height: 425px!important;
	height: 423px\9;	
}
.mail-height325{
	height: 326px;
	height: 325px!important;
	height: 323px\9;	
}
.mail-height225{
	height: 226px;
	height: 225px!important;
	height: 223px\9;	
}
.mail-height185{
	height: 186px;
	height: 185px!important;
	height: 183px\9;	
}
.mail-height125{
	height: 126px;
	height: 125px!important;
	height: 123px\9;	
}


.nc-con{
	line-height:20px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
.nc-con p{
	margin:8px 0;
}
.reportbox td,th{
	padding-top: 2px;
	padding-bottom: 2px;
}
.tit-bl{
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #000;
	display: inline-block;
	line-height: 16px;
	
}
.panel-main-header .panel-title{
	height: 20px;
	line-height: 19px;
}
.panel-main-header .panel-tool{
	height: 20px;
	overflow: visible;	
}
table label{
	font-weight: bold;
}
.infobox{
	
}
.infobox p {
    margin: 5px;
}
.infobox tr{
	border-collapse:collapse;
	height: 23px;
	line-height: 23px;
}

.infobox_input {
    width: 50%;
    height: 28px;
    line-height: 28px;
    border: 1px solid #AEC0C6;
    padding-left: 4px;
}

.infobox tr td,th{
	border-collapse:collapse;
	padding: 10px;
	position: relative;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #AEC0C6;
	border-right-color: #AEC0C6;
	border-bottom-color: #AEC0C6;
	border-left-color: #AEC0C6;
	
}
.table-border{
	border-collapse:collapse;
	border: 1px solid #AEC0C6;
}
.infobox .bar{
	background-color:#f5f5f5;
}
.infobox .bar span{
	font-size:14px;
	line-height: 16px;
}
.infobox .stit{
	font-weight: bold;
	color: #036;
}
.pro-status-1{
	color: #008A00;
}
.pro-status-2{
	color: #F00;	
}
.pro-status-3{
	color: #0C5AEB;
}
.pro-status-4{
	color: #CC5200;
}
.pro-status-5{
	color: #408080;
}
.pro-status-6{
	color: #7200E3;
}
.font-line{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #000;
}
.view-close{
	display: inline-block;
	height: 16px;
	width: 16px;
	cursor: pointer;
	background-image: url(../../img/admin/panel_close.gif);
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-bottom: 0px;
}
.view-open{
	background-image: url(../../img/admin/panel_open.gif);
	background-repeat: no-repeat;
}
.hover-img{
	cursor:pointer;
	filter:alpha(opacity=0.7);opacity:0.7;
}
.hover-img:hover{
	filter:alpha(opacity=1);opacity:1;
}
.img-split{
	display: inline-block;
	height: 15px;
	width: 15px;	
}
.sms{
	background-image: url(../../img/admin/sms.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	width: 22px;
	background-position: 5px top;
	line-height: 16px;
	padding-left: 0px;
	color: #FFF;
	text-align: center;
	font-size: 11px;
	cursor:pointer;
	letter-spacing: -3px;
}